.blue-bg {
    background: #21283e;
    color: #fff;
}
section .section-header, section .section-body {
    width: 100%;
    clear: both;
    display: inline-block;
}
section .section-header .sec-heading.widgetheading {
    font-size: 18px !important;
    color: #fff;
}
.widget-section .topic-list h6.topic-title a {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}
.widget-section .topic-list h6.topic-title a:hover{
    text-decoration: none;
}
.rigt_sidebar_a a{
    color: #D716A5;
    font-weight: 400;
    text-decoration: none;
}
.rigt_sidebar_a a:hover{
    text-decoration: none;
}

.text-white{
    color: #fff;
    font-size: 18px !important;
}
.underline_rsidebar::after{
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 53%;
    height: 3px;
    left: 0%;
}