.usercomment_mainapge{
    border-radius:25px !important;
    background-color:#fff;
  }
  
  .gray_p {
    color: #71747e;
    font-size: 16px;
    font-weight: 400;
    color: #21283e;
    margin-bottom: 2px;
}

.btn_clr{
  background-color:#2E84B8;
  color:#fff;
  padding:10px 20px 10px 20px;
  border-radius:25px;
  border:none;
  outline:none;
  font-size:15px;
}