@media only screen and (max-width: 576px) {
    .rec_main_div{
        width: 390px;
        padding: 0px;
      }
      .rec-image{
        width: 105px;
      }
      .btn-carousel{
        padding: 8px!important;
        margin-top: 5px;
      }
      .carousel_h5{
          font-size: 16px!important;
      }
      .dropdowncross_carousel{
        display: none ;
      }
    //   .dsZwIA {
    //     box-sizing: border-box;
    //     -webkit-transition: all 0.3s ease;
    //     transition: all 0.3s ease;
    //     font-size: 1.6em;
    //     background-color: rgba(103,58,183,0.1);
    //     color: #999;
    //     box-shadow: 0 0 2px 0px #333;
    //     border-radius: 50%;
    //     border: none;
    //     padding: 0;
    //     width: 45px!important;
    //     height: 45px!important;
    //     /* min-width: 22px; */
    //     /* line-height: 50px; */
    //     -webkit-align-self: center;
    //     -ms-flex-item-align: center;
    //     align-self: center;
    //   }
   }

