.card{border:none;border-radius: 12px}
.profile-card-2 .card-img-block{float:left;width:100%;height:auto;overflow:hidden;}
.profile-card-2 .card-img-block .figure{position: relative;}
.visitor-station_bg {width: 100%;}
figure.figure.h-100 .img-fluid {width: 100%;}
.img_bg1{width: 100% !important;}
