.visitor_station_post:after{
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 4%;
    height: 3px;
    left: 0;
}
.visitor_station_topic:after{
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 6%;
    height: 3px;
    left: 0;
}
.visitor_station_recom:after{
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 6%;
    height: 3px;
    left: 0;
}